.container {
  display: flex;
  margin: 0;
  width: 500px;
  height: 600px;
  padding: 0px;
  resize: both;
  border: 2px solid gray;
  overflow: hidden;
  outline: auto;
}

.container > .containerDiv {
  background: red;
  border: 4px dashed black;
}
