.container {
  margin:0;
  padding:0;
  width: 500px;
  height: 600px;  
  resize: both;
  outline: auto;
  overflow: hidden;

  position: relative;
}

.containerDiv {
  border: 0;
  height: 99%;
  left: 0;
  position: absolute;
  top: 0;
  width: 99%;
  overflow: hidden;
}
