.ccp {
  float: left;
  margin:0;
  padding:0;
  min-width: 350px;
  min-height: 520px;  
  resize: both;
  overflow: hidden;
  position: relative;
  outline-style:auto;
}

.container {
  display: flex;
  outline: auto;
}

.containerDiv {
  border: 0;
  height: 97%;
  left: 0;
  position: absolute;
  top: 0;
  width: 97%;
  overflow: hidden;
}

.inputLabels {
  resize: horizontal;
  overflow: hidden;
  outline: auto;
  min-width: 200px;
}
.inputLabels > input {
  width: 100%;
}

.inputValues {
  resize: horizontal;
  overflow: hidden;
  width: 100%;
  outline: auto;
}
.inputValues > input {
  width: 100%;
}
